@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  /* フォント */
  --f-ja: "Noto Serif JP", serif;
  --f-en: "Noto Serif", serif;

  /* フォントサイズ */
  --fs-logo: 1.625rem; /* 26px */
  --fs-fv-copyEn: clamp(2.313rem, 4.86vw, 4.375rem); /* 37px 〜 70px */
  --fs-fv-copyJa: clamp(1.875rem, 2.78vw, 2.5rem); /* 30px 〜 40px */
  --fs-sec-title: clamp(1.875rem, 4.17vw, 3.75rem); /* 30px 〜 60px */
  --fs-sec-copy: clamp(1.25rem, 2.08vw, 1.875rem); /* 20px 〜 40px */
  --fs-text: 1rem; /* 16px */
  --fs-footer-copyright: 0.875rem; /* 14px */
  --fs-bg-text: clamp(1.875rem, 6.25vw, 5.625rem); /* 40px 〜 90px */

  /* 文字色 */
  --c-black: #282f35;
  --c-black-dark: #171717;
  --c-white: #fff;

  /* 背景色 */
  --bg-btn: #f7d43f;
}

/* ============================
* 共通
* ========================= */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* color: var(--white); */
  font-family: "Noto Serif JP", "Noto Serif", serif;
  font-style: normal;
  font-size: 100%;
  box-sizing: border-box;
  position: relative;
  font-weight: 300;
}

a {
  display: block;
  /* color: var(--white); */
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

img {
  height: auto;
  display: block;
}

.hidden {
  display: none;
}
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 900px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}

/* 横並び */
.l-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* コンテンツ幅 */
.l-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.l-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
}

/* セクションタイトル */
.section-title {
  font-size: var(--fs-sec-title);
  font-family: var(--f-en);
  font-style: italic;
  font-weight: bold;
  line-height: 1.367;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.section-title::after {
  content: "";
  width: 200px;
  height: 5px;
  background-color: var(--c-black);
}

@media screen and (max-width: 900px) {
  .section__title {
    font-size: var(--font-32);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-btn);
  width: 235px;
  height: 59px;
  border-radius: 1000px;
  margin: 0 auto;
}

/* ============================
*  Header
* ========================= */
.header {
  position: fixed;
  height: 96px;
  z-index: 10;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__logo-link,
.header__nav-link {
  color: var(--c-white);
}
/* ============================
* Main
* ========================= */
/*-------------------------
  FV
-------------------------*/
.fv {
  position: relative;
}

/* FV 背景画像 */
.fv__bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.fv__bg01 {
  background-image: url("../img/fv-bgi_01@2x.jpg");
}

/* FV コンテンツ */
.fv__content {
  position: absolute;
  top: 50%;
  left: 8.333%;
  transform: translateY(-50%);
  color: var(--c-white);
}
.fv__copy {
  color: var(--c-white);
}

/*-------------------------
  Concept
-------------------------*/
.concept .common-inner::before {
  content: "Our Concept"; /* 表示する文字 */
  position: absolute;
  bottom: 70px; /* 適宜調整 */
  right: 5%; /* 適宜調整 */
  font-size: var(--fs-bg-text); /* 大きなサイズ */
  color: rgba(0, 0, 0, 0.05); /* 薄い色で背景に馴染む */
  z-index: -1; /* 背景に配置 */
  pointer-events: none; /* クリックなどを無効化 */
}

.concept__heading {
  margin-bottom: 70px;
}

.concept__copy {
  text-align: center;
  font-size: var(--fs-sec-copy);
  font-weight: bold;
  line-height: 1.667;
  margin-bottom: 60px;
}

/*-------------------------
  Works
-------------------------*/
.works__bg {
  background-image: url(../img/works-bgi@2x.jpg);
}

.works .l-inner::before {
  content: "Our Works"; /* 表示する文字 */
  position: absolute;
  bottom: 70px; /* 適宜調整 */
  right: 5%; /* 適宜調整 */
  font-size: var(--fs-bg-text); /* 大きなサイズ */
  color: rgba(0, 0, 0, 0.05); /* 薄い色で背景に馴染む */
  z-index: 2; /* 背景に配置 */
  pointer-events: none; /* クリックなどを無効化 */
}

.works__title {
  color: var(--c-white);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.works__title::after {
  background-color: var(--c-white);
}

/*-------------------------
  Service
-------------------------*/
.service__list {
  width: 100%;
}
.service__item {
  position: relative;
  background-size: cover;
  background-position: center;
  width: calc(100% / 3);
  height: 320px;
}

.service__item--hearing {
  background-image: url(../img/service-img01@2x.jpg);
}

.service__item--planning {
  background-image: url(../img/service-img02@2x.jpg);
}

.service__item--direction {
  background-image: url(../img/sevice-img03@2x.jpg);
}

/*-------------------------
  Contact
-------------------------*/
.contact__bg {
  background-image: url(../img/works-bgi@2x.jpg);
}
.contact__title {
  color: var(--c-white);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.contact__title::after {
  background-color: var(--c-white);
}
/* ============================
* Footer
* ========================= */
.footer__inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__copyright {
  display: block;
  text-align: center;
}
